$primary-color: #607D8B;
$accent-color: #FFC107;
$background-color: #212121;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Audiowide', cursive;
  letter-spacing: 3px;
  background-color: $primary-color;
  color: $accent-color;
  margin: 0;
}

h1, h2, h3 {
  text-align: center;
  text-transform: uppercase;
  text-shadow:  4px 4px 3px rgba(0, 0, 0, 0.5),
                0px 8px 13px rgba(0, 0, 0, 0.15),
                0px 18px 23px rgba(0, 0, 0, 0.1);
}

table {
  margin: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6),
              0 0 23px rgba(0, 0, 0, 0.3),
              0 0 43px rgba(0, 0, 0, 0.1);
}

tr {
  height: 23px;
  &:last-of-type td {
    background-color: $background-color;
  }

}

td {
  // font-size: 0;
  color: red;
  width: 23px;
  background-color: $primary-color;
  &:first-of-type, &:last-of-type {
    background-color: $background-color;
  }
}

.active {
  background-color: $accent-color;
  border-radius: 30%;
  box-shadow: 0 0 8px rgba(255,155,55,0.6),
              0 0 23px rgba(255,155,55,0.3),
              0 0 43px rgba(255,155,55,0.1);
}

.stay {
  background-color: $accent-color;
  border-radius: 30%;
  box-shadow: 0 0 8px rgba(255,155,55,0.6),
              0 0 23px rgba(255,155,55,0.3),
              0 0 43px rgba(255,155,55,0.1);
}

.hidden {
  display: none;
}

.hide {
  visibility: hidden;
}

.background-black td {
  background-color: $background-color;}




//-----------------------LOW RESOLUTION-----------------
@media only screen and (min-width: 1680px) {
  div {
    width: 100px;
    margin: 120px 60px;
  }
}

//-----------------------LOW RESOLUTION-----------------
@media only screen and (min-width: 1920px) {
  div {
    width: 100px;
    margin: 120px 100px;
  }
}

//-----------------------LOW HEIGHT-----------------
@media only screen and (min-height: 800px) {
  h3 {
    margin-top: 2px
  }

  tr {
    height: 25px;
  }

  td {
    width: 25px;
  }
}

//-----------------------NORMAL HEIGHT (HD)-----------------
@media only screen and (min-height: 900px) {
  h3 {
    margin-top: 5px
  }

  tr {
    height: 30px;
  }

  td {
    width: 30px;
  }
}